# tf files
terraform/dev.tfvars
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info